accelerate
aiohappyeyeballs
aiohttp
aiosignal
altair==5.5.0
attrs
blinker
cachetools
certifi
charset-normalizer
click
cmake
datasets
dill
evaluate
filelock
frozenlist
fsspec
gitdb
GitPython
hf-xet
huggingface-hub
idna
Jinja2
jsonschema
jsonschema-specifications
MarkupSafe
mpmath
multidict
multiprocess
narwhals
networkx
numpy
packaging
pandas
peft
pillow
propcache
protobuf==3.20.3
psutil
pyarrow
pydeck
python-dateutil
pytz
PyYAML
referencing
regex
requests
rpds-py
safetensors
sentencepiece
setuptools
six
smmap
streamlit
sympy
tenacity
tokenizers
toml
torch
tornado
tqdm
transformers
typing_extensions
tzdata
urllib3
xxhash
yarl
watchdog
